.header__lang-link{
    margin-right: 18px;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: #ffffff;
    transition: .3s linear;
  }
  .header__lang-link:hover {
    opacity: 0.8;
  }
.header__lang-link:last-child {
    margin-right: 0;
    text-decoration: none;
}
@media only screen and (max-width: 767.98px) {
    .header__lang-link{
      font-size: 20px;
      line-height: 20px;
    }
}
@media only screen and (max-width: 424.98px) {
    .header__lang-link{
      font-size: 18px;
      line-height: 20px;
    }
}