.cover__link {
  background-image: url('../../../images/cover-trains.jpg');
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  background-size: cover;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  margin: auto;
}
.cover__link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: .3s linear;
}
.cover__link:hover:after {
  opacity: 0.8;
}
@media only screen and (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}
@media only screen and (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}
@media only screen and (max-width: 767px) {
  .cover__link {
    min-height: 360px;
  }
}
@media only screen and (max-width: 424px) {
  .cover__link {
    min-height: 200px;
  }
}