.photo__item {
  max-width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 424.98px) {
  .photo__item {
    margin: 0 0 12px 0;
  }
  .photo__item:last-child {
    margin-bottom: 0;
  }
}