.places {
  max-width: calc(100vw - 296px);
  margin: 0 auto 92px auto;
}

@media only screen and (max-width: 1024px) { 
  .places {
    max-width: calc(100vw - 96px);
    margin: 0 auto 80px auto;
  }
}

@media only screen and (max-width: 768px) {
  .places {
    max-width: calc(100vw - calc(100vw/16)); 
    /* 48px было*/

    margin: 0 auto 90px auto;
  }
}

@media only screen and (max-width: 320px) {
  .places {
    width: 100vw;
    margin: 0 0 50px 0;
  }
}