.places__link {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-decoration: underline;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: .3s linear;
}
.places__link:hover {
  opacity: 0.8;
}