.cover__subtitle {
  margin: 32px auto auto auto;
  padding: 0;
  max-width: 360px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
  min-width: 360px;
  color: white;
  text-align: center;
  z-index: 1;
  position: relative;
}