.cover__subtitle {
  margin: 32px auto auto auto;
  padding: 0;
  max-width: 360px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Inter';
  line-height: 122%;
  color: white;
  text-align: center;
  z-index: 1;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .cover__subtitle {
    margin-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
