.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .menu__list {
    display: block;
    margin: 0 0 32px 0;
    
  }
  .menu__list:last-child {
    margin-bottom: 48px;
  }
}