.menu__link {
  margin: 0;
  padding: 0;
  padding-right: 18px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Inter';
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  transition: .3s linear;
}
.menu__link:hover {
  opacity: 0.8;
}
.menu__link:last-child {
margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .menu__link{    
    font-size: 24px;
    line-height: 24px;
  }
}