.lead__image {
    margin-top: 64px;
    max-width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1279px) { 
    .lead__image {
        margin-top: 56px;
   }
}

@media only screen and (max-width: 424px) {
    .lead__image {
        margin-top: 40px;
        min-width: 320px;
     }
}