.root {
    min-width: 1280px;
    margin: 0 auto;
    background-color: #2A2C2F;
    color: #ffffff;
    font-family: 'Inter';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility; 

}

@media only screen and (max-width: 1279.98px) { 
    .root {
      min-width: 1024px;
    }
}

@media only screen and (max-width: 1023.98px) { 
    .root {
      min-width: 768px;
    }
}

@media only screen and (max-width: 767.98px) { 
  .root {
    min-width: 425px;
  }
}

@media only screen and (max-width: 424.98px) { 
    .root {
      min-width: 320px;
    }
}