.lead__subtitle {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    font-size: 30px;
    font-weight: normal;
    line-height: 120%;
    font-style: normal;
    text-align: center;
}

@media only screen and (max-width: 1279.98px) {
  .lead__subtitle {
    min-width: 640px;
  }
}

@media only screen and (max-width: 1023.98px) {
  .lead__subtitle {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767.98px) {
  .lead__subtitle {
  max-width: 320px;
  font-size: 18px;
  line-height: 120%;
}
}

@media only screen and (max-width: 424.98px) {
    .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}