.cover {
  min-width: 1184px;
  min-height: 740px;
  margin: 0 48px;
}

@media only screen and (max-width: 1279.98px) {
  .cover {
    margin: 0;
    min-height: 640px;
  }
}

@media only screen and (max-width: 1023.98px) {
  .cover {
    min-height: 480px;
  }
}

@media only screen and (max-width: 767.98px) {
  .cover {
    min-height: 265px;
  }
}

@media only screen and (max-width: 424.98px) {
  .cover {
    min-height: 200px;
  }
}