.places__website {
  align-self: flex-end;
}

@media only screen and (max-width: 767px) {
  .places__website {
    margin: 32px 0 16px 0;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .places__website {
    margin: 32px 16px;
  }
}