.photo {
  margin: 92px 48px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(284px, 1fr) );
  grid-template-rows: repeat( auto-fit, minmax(213px, 1fr) );
  gap: 16px;
}

@media only screen and (max-width: 1279px) { 
  .photo {
    gap: 14px;
  }
}

@media only screen and (max-width: 1023px) {
   .photo {
     margin: 88px 24px;
     gap: 16px;
   }
}
@media only screen and (max-width: 767px) {
  .photo {
    display: block;
    margin: 64px 16px;
  }
}
